.about-section {
  background-color: #f5f5f5;
  padding: 1rem;
  border-radius: 12px;
  text-align: center;
  margin-bottom: 2rem;

  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #ffa200;
  }

  .about-text {
    font-size: 1.2rem;
    max-width: 700px;
    margin: 0 auto 2rem;
    line-height: 1.6;
    text-align: left;
  }

  .teachers {
    h3 {
      margin-bottom: 1.5rem;
      font-size: 1.5rem;
      color: #ffa200;
    }

    .teacher-cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2rem;
    }

    .teacher-card {
      background: white;
      padding: 1.5rem;
      border-radius: 12px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      max-width: 220px;
      text-align: center;

      img {
        width: 100%;
        height: auto;
        border-radius: 12px;  
        margin-bottom: 1rem;
        object-fit: cover;     
        height: 150px;         
      }

      h4 {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
      }

      .title {
        font-weight: bold;
        color: #555;
        margin-bottom: 0.5rem;
      }

      .bio {
        font-size: 0.95rem;
        color: #666;
      }
    }
  }
}

.social-buttons {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;

  a {
    text-decoration: none;
    color: #fff;
    background-color: #f39c12;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    font-size: 1.4rem;
    transition: background-color 0.3s, transform 0.2s;

    &:hover {
      background-color: #f39c12;
      color: #000;
      transform: scale(1.1);
        
    }

    i {
      display: inline-block;
      width: 1.2em;
      text-align: center;
    }
  }

  .follow-text {
    margin-top: 1rem;
    font-weight: bold;
    font-size: 1rem;
  }
}