.prices-and-documents-section {
  background-color: #f5f5f5;
  padding: 1rem;
  border-radius: 12px;
  text-align: center;
  margin-bottom: 2rem;
  
  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #ffa200;
  }
  
  h3 {
    font-size: 1.2rem;
    color: #dd2f2c;
  }

  p {
    font-size: 1.1rem;
    margin-bottom: 2rem;
    line-height: 1.6;
    color: #444;
    max-width: 700px;
    margin: 0 auto 2rem;
    text-align: left;
  }
}

.packages-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-bottom: 2rem;
}

.package-card {
  background-color: white;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  }

  h3 {
    margin-top: 0;
  }

  .package-price {
    white-space: pre-line;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;;
    color: #ffa200;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
  }

  ul {
    list-style: none;
    padding: 0;
    text-align: left;
    margin-top: 1.5rem;
    margin-left: 1rem;
    
    li {
      margin-bottom: 0.75rem;
      border-bottom: 1px solid #eee;
      padding-bottom: 0.75rem;
      color: #666;
      display: flex;
      align-items: center;
      font-size: 0.95rem;
      
      &:before {
        content: '✓';
        color: #f57c00;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
        margin-right: 0.5rem;
      }
    }
  }
}

.documents-list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 600px;
  text-align: left;
  
  .document-item {
    background-color: white;
    border-left: 5px solid #f57c00;
    padding: 1rem 1.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    font-size: 1rem;
    color: #333;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);

    .subdocuments-list {
      list-style: none;
      padding-left: 1.5rem;
      margin-top: 0.5rem;
      margin-bottom: 0;

      li {
        background-color: transparent;
        border-left: none;
        padding: 0.25rem 0;
        margin-bottom: 0;
        box-shadow: none;
        font-size: 0.95rem;
        color: #555;
      }
    }
  }
}

@media (min-width: 768px) {
  .packages-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
  }

  .prices-and-documents-section {
    max-width: 1200px;
  }
  
  .prices-and-documents-section h2 {
    margin-top: -2.5rem;
  }
}

@media (min-width: 1200px) {
  .prices-and-documents-section {
    padding: 4rem 1rem;
  }
}